@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
font-family {
  font-family: 'Merriweather';
  src: url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
}


* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
/* =============================CORPO =================== */

html {
  scroll-behavior: smooth;

}
body{
 
  background-color: #fff;
  font-family: 'Merriweather';
  text-align: justify;
  color: rgba(0, 0,0 , 1);
 
}
/* CONFIGURAR O H1
h1 {

} */

/* ===========slide ========= */

.slide {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
.slide li {
  list-style: none;
  position: absolute;
}
.slide img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}


#logotopo {
  display: block;
  float: none;
  margin-left: 50px;
  
}

div#interface {
  background-color: #ffff;
  margin: 10px auto 5px auto;
  padding-left: 120px;
  padding-right: 120px;
  
}

header {
  border-bottom: 2px #2a9c52 solid;
  padding: 5px;
}
/* =====================CORPO/CABEÇALHO =================== */

#imovel {
text-align: center;
margin-top: 50px;
}

#imovel h2 {
  text-align: center;
  margin-bottom: 10px;
}

#imoveis-container {
  display: flex;
  overflow-x: scroll;
}

#imoveis-container img {
  margin-right: 10px;
}

div.container {
  display: block;
  float: initial;
  columns: 3;
}

/* =======================CALL ACTION MEIO DA PÁGINA BOTÃO ================= */
#call-to-action {
  width: 100%;
  margin: 30px 0px 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}



/* =================MENU ================= */

#menu {
  background-color: #adebbb;
  
  }

nav#menu ul{
  
  display: block;
  text-transform: uppercase;
  position: fixed;
  top: 20px;
  left: 500px;
     
}
nav#menu li {
  display: inline-block;
  font-size: 18pt;
  margin-right: 10px;
   
}

a:hover {
  text-decoration: underline;
  opacity: 5s;

}
a {
  text-decoration: none;
  color: black;
  background: #adebbb;
  padding: 5px;
  border-radius: 10px;
}
/* =================MENU FECHA MENU ================= */
#banner {
  display: block;
  width: 550px;
  height: 280px;
  border: 1px solid black;
  align-items: center;
}

/* =================RODA PÉ ================= */
#rodape {
  display: flex;
  flex-direction: row;
  height: fit-content;
}


#logoFooter {
  max-width: 100%;
  height: auto;
}


footer li {
 list-style-type: none;
}