@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
font-family {
  font-family: 'Merriweather';
  src: url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
}


* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
/* =============================CORPO =================== */

html {
  scroll-behavior: smooth;
}
body{
 background-color: #fff;
  font-family: 'Merriweather';
 color: rgba(0, 0,0 , 1);
}

main {
  padding: 20px;
}

h1 {
text-align: center;
padding-top: 5px;
}

#logotopo {
  display: block;
  float: none;
  margin-left: 50px;
}


header {
  background-color: #60D394;
  border-bottom: 2px rgba(0, 0,0 , 6) solid;
  padding: 5px;
}

#titulo  {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  } 

  /* =================MENU ================= */

nav#menu ul{
  
  display: block;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 700px;
  margin-top: -5px;    
}
nav#menu li {
  display: inline-block;
  font-size: 14pt;
  margin-right: 5px;
   
}

#menu a:hover {
  text-decoration: underline;
  background-color: #60D394;
  color: #fff;
  opacity: 2s;

}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 10px;
}
/* =================MENU FECHA MENU ================= */
/* ===========slide ========= */
figure {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  text-align: center;
}

.tituloh2 {
  text-align: center;
  margin-top: 5px;
}

#banner {
  display: block;
  width: 550px;
  height: 280px;
  border: 1px solid black;
  margin-left: 60px;/* posicionando o lugar dos botões*/
}
.slide {
  display: block;
  height: 293px;
  width: 740px;
  margin-top: 30px;
  position: relative; 
}
.slide li {
  list-style: none;
  position: absolute;
}
.slide img {
  
  height: 100%;
  width: 100%;
  vertical-align: top;
  align-items: center;
  margin-left: -60px;
  margin-top: -15px;
}
.slide input {
  display: none;
}
.slide label {
  background-color: black;
  bottom: -20px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
  margin-left: 300px;
  border-radius: 10px;
}

.slide li:nth-child(1) {
  right: 30px;
}

.slide li:nth-child(2) {
  right: 50px;
}
.slide li:nth-child(3) {
  right: 70px;
}
.slide li:nth-child(4) {
  right: 90px;
}

.slide img {
  opacity: 0;
  visibility: hidden;
}

.slide li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}


/* ============ VITRINE DOS IMOVEIS ============ */

label #button {
  align-items: center;
}
  
#slider {
  display: block;
  height: 300px;
  width: 850px;
  margin-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#slider li {
  list-style: none;
  position: absolute;
}
#slider img {
  margin: auto;
  height: 300px;
  width: 570px;
  vertical-align: top;
  align-items: center;
  display: flex;
  align-content: center;
  
}
#slider input {
  display: none;
}
#slider label {
  background-color: black;
  bottom: -20px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
  margin-left: 230px;
  border-radius: 10px;
    
}

#slider li:nth-child(1) {
  right: 30px;
}

#slider li:nth-child(2) {
  right: 50px;
}
#slider li:nth-child(3) {
  right: 70px;
}
#slider li:nth-child(4) {
  right: 90px;
}

#slider li:nth-child(5) {
  right: 110px;
  top: 1px;
}

#slider li:nth-child(6) {
  right: 130px;
  top: 1px;
}

#slider img {
  opacity: 0;
  visibility: hidden;
}

#slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}


/* =======================NOTICIAS ================= */
h1 {
  margin-bottom: 20px;
}
#imovel img {
  width: 300px;
}
#imovel  p {
  font: verdana 8pt;
}

#imovel  h3 {
  font-size: 10pt;
}
#acessados h2 {
  border-top: 2px solid rgba(0, 0,0 , 6);
  text-align: center;
}

h2 {
  text-align: center;
  height: 30%;
}

 
.container___title {
  text-align: center;
  padding: 15px;
}

.container___item {

margin: auto;
text-align: center;
margin-top: 30px;
padding: 0px 50px;
}

.container___item a{

  margin: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  margin-bottom: 60px;
}

.container__item {
  padding: 0 8px;
  height: 300px;
}

.container__item h3{
  padding: 9px 8px;
}

section.container article {
  display: flex;
}

article {
align-items: center;

}

/* =======================CALL ACTION MEIO DA PÁGINA BOTÃO ================= */
.action {
  width: 100%;
  margin: 30px 0px 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#call button {
  border-radius: 3px;
  font-style: italic;
  font-family: arial;
  font-size: 10pt;
  
}


/* =================RODA PÉ ================= */


#rodape {
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-top: 2px rgba(0, 0,0 , 6) solid;
  padding: 5px;
  background-color: #60D394;
}


#logoFooter {
  max-width: 100%;
  height: auto;
}


footer li {
 list-style-type: none;
}

.menuItens a:hover {
  text-decoration: underline;
  background-color: #60D394;
  color: #fff;
  opacity: 2s;
}